@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* GENERAL STYLING */
.page {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  flex-direction: column;
  font-size: 14px;
}

.title {
  margin-bottom: 20px;
}

button:focus {
  outline: none;
}

button {
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
  width: auto;
  border-radius: 10px;
  padding: 15px;
  margin: 5px 0px;
}

.code {
  font-weight: bold;
  font-size: 16px;
}

.h-pink:hover, .h-pink:focus {border: solid rgb(230, 96, 118) 2px;}
.h-pink:hover span, .h-pink:focus span {color: rgb(230, 96, 118); font-weight: bold;}

.h-blue:hover, .h-blue:focus {border: solid rgb(20, 178, 199) 2px}
.h-blue:hover span, .h-blue:focus span {color: rgb(20, 178, 199); font-weight: bold;}

.h-green:hover, .h-green:focus {border: solid rgb(51, 173, 78) 2px}
.h-green:hover span, .h-green:focus span {color: rgb(51, 173, 78); font-weight: bold;}

.h-yellow:hover, .h-yellow:focus {border: solid rgb(218, 188, 20) 2px}
.h-yellow:hover span, .h-yellow:focus span {color: rgb(218, 188, 20); font-weight: bold;}

.h-purple:hover, .h-purple:focus {border: solid rgb(139, 112, 204) 2px}
.h-purple:hover span, .h-purple:focus span {color:  rgb(139, 112, 204); font-weight: bold;}
